body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px
}
p{
    color: white;
    text-align: center;
    font-size: 60px;
    float: left;
    vertical-align: middle;
}
#frame{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgCard{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    opacity: 50%;
    text-align: center;
}
#bgImg{

}